header {
    background-color: gray;
    border: 5px solid black;
    color: white;
    display: flex;
}

a {
    text-decoration: none;
}

footer {
    height: 60px;
    max-width: 100%;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
}